<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/apple-touch-icon.png">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/favicon.ico">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css" crossorigin="anonymous">
</head>
<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1>{{ question.question_text }}</h1>
                <ul>
                    {% for choice in question.choice_set.all %}
                    <li>{{ choice.choice_text }}</li>
                    {% endfor %}
                </ul>
                <p class="lead">
                    <a href="/polls/" class="btn btn-lg btn-default">Back To Index</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="#">@allenleex</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>